.update-btn, .delete-btn {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 12px;
    font-size: 24px;
}

.update-btn {
    background-color: white;
    color: black;
}

.delete-btn {
    border: 1px solid #FF5E5E;
    background-color: #FF5E5E;
    color: white;
}

.btn {
    margin-right: 130px;
    margin-top: 45px;
    justify-content: end;
    gap: 24px;
    display: flex;
}

.bookmark {
    width: 50px;
    height: 50px;
    display: flex;
    /* margin-left: 180px; */
    margin-bottom: 36px;
}

.word-text {
    font-size: 60px;
    font-weight: 700;
}

.words {
    display: flex;
    /* margin-left: 180px; */
    align-items: center;
    justify-content: start;
    gap: 24px;
}

.word-img {
    width: 48px;
    height: 48px;
}

.word-box {
    width: 40%;
    margin-left: 180px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #DDDDDD;
    /* margin: 0 10px; */
    height: 600px;
}

.parts {
    background-color: #A9FFFA;
    display: flex;
    width: fit-content;
    font-weight: 600;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    margin-top: 30px;
    padding-bottom: 8px;
    font-size: 24px;
    border-radius: 10px;
    justify-content: flex-start;
}

.means {
    font-size: 28px;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mean-box {
    display: flex;
}

.memo {
    background-color: #FFFBEC;
    text-align: start;
    font-size: 20px;
    padding: 20px;
    width: 80%;
    /* margin-top: 50px; */
}

.sentence-box {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-left: 55px;
    row-gap: 20px;
}

.main-box {
    display: flex;
    margin-top: 80px;
}

.sen-txt {
    background-color: #FFFBEC;
    font-size: 20px;
    width: fit-content;
    height: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    font-weight: 700;
}

.sen {
    font-size: 30px;
    font-weight: 600;
}

.trans {
    font-size: 20px;
}