.main {
    margin-top: 120px;
    justify-content: center;
    align-items: center;
    gap: 60px;
    display: flex;
    flex-direction: column;
}

.profile-container {
    background-color: #FFFBEC;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 60px;
    width: 730px;
    padding-left: 68px;
    padding-bottom: 60px;
    column-gap: 30px;
    border-radius: 8px;
}

.profile-info {
    text-align: start;
}
.cnt-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* justify-content: flex-start; */
    align-items: flex-start;
}

.cnt {
    display: flex;
    justify-content: space-between;
    width: 200%;
}

.name {
    font-size: 24px;
    font-weight: 600;
}
.email {
    font-size: 20px;
    color:darkgray;
}

.totalCnt {
    font-size: 24px;
    font-weight: 600;
}